BLL/Web References/Service/LBEBusinessWebService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:tns="http://ws.livebos.apex.com/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:ns1="http://cxf.apache.org/bindings/xformat" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="LBEBusinessWebService" targetNamespace="http://ws.livebos.apex.com/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xs:schema attributeFormDefault="unqualified" elementFormDefault="unqualified" targetNamespace="http://ws.livebos.apex.com/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
      <xs:element name="create" type="tns:create" />
      <xs:element name="createResponse" type="tns:createResponse" />
      <xs:element name="delete" type="tns:delete" />
      <xs:element name="deleteResponse" type="tns:deleteResponse" />
      <xs:element name="doWorkAction" type="tns:doWorkAction" />
      <xs:element name="doWorkActionByObject" type="tns:doWorkActionByObject" />
      <xs:element name="doWorkActionByObjectResponse" type="tns:doWorkActionByObjectResponse" />
      <xs:element name="doWorkActionResponse" type="tns:doWorkActionResponse" />
      <xs:element name="execBizProcess" type="tns:execBizProcess" />
      <xs:element name="execBizProcessResponse" type="tns:execBizProcessResponse" />
      <xs:element name="getUserInfo" type="tns:getUserInfo" />
      <xs:element name="getUserInfoResponse" type="tns:getUserInfoResponse" />
      <xs:element name="getWorkAvailableAction" type="tns:getWorkAvailableAction" />
      <xs:element name="getWorkAvailableActionResponse" type="tns:getWorkAvailableActionResponse" />
      <xs:element name="getWorkOwner" type="tns:getWorkOwner" />
      <xs:element name="getWorkOwnerResponse" type="tns:getWorkOwnerResponse" />
      <xs:element name="login" type="tns:login" />
      <xs:element name="loginResponse" type="tns:loginResponse" />
      <xs:element name="logout" type="tns:logout" />
      <xs:element name="logoutResponse" type="tns:logoutResponse" />
      <xs:element name="query" type="tns:query" />
      <xs:element name="queryResponse" type="tns:queryResponse" />
      <xs:element name="queryTaskListByCondition" type="tns:queryTaskListByCondition" />
      <xs:element name="queryTaskListByConditionResponse" type="tns:queryTaskListByConditionResponse" />
      <xs:element name="queryTasks" type="tns:queryTasks" />
      <xs:element name="queryTasksResponse" type="tns:queryTasksResponse" />
      <xs:element name="queryWorkflowDescribe" type="tns:queryWorkflowDescribe" />
      <xs:element name="queryWorkflowDescribeResponse" type="tns:queryWorkflowDescribeResponse" />
      <xs:element name="update" type="tns:update" />
      <xs:element name="updateResponse" type="tns:updateResponse" />
      <xs:element name="validateUser" type="tns:validateUser" />
      <xs:element name="validateUserResponse" type="tns:validateUserResponse" />
      <xs:complexType name="getWorkAvailableAction">
        <xs:sequence>
          <xs:element minOccurs="0" name="sessionId" type="xs:string" />
          <xs:element name="instanceId" type="xs:long" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="getWorkAvailableActionResponse">
        <xs:sequence>
          <xs:element minOccurs="0" name="AvailableWorkActionResponse" type="tns:availableWorkActionResponse" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="availableWorkActionResponse">
        <xs:complexContent mixed="false">
          <xs:extension base="tns:lbeResult">
            <xs:sequence>
              <xs:element minOccurs="0" maxOccurs="unbounded" name="actions" nillable="true" type="tns:workAction" />
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
      <xs:complexType name="lbeResult">
        <xs:sequence>
          <xs:element minOccurs="0" name="message" type="xs:string" />
          <xs:element name="result" type="xs:int" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="workAction">
        <xs:sequence>
          <xs:element name="actionId" type="xs:int" />
          <xs:element minOccurs="0" name="actionName" type="xs:string" />
          <xs:element name="stepId" type="xs:int" />
          <xs:element minOccurs="0" name="stepName" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="queryTasks">
        <xs:sequence>
          <xs:element minOccurs="0" name="sessionId" type="xs:string" />
          <xs:element minOccurs="0" name="caller" type="xs:string" />
          <xs:element minOccurs="0" name="queryOption" type="tns:queryOption" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="queryOption">
        <xs:sequence>
          <xs:element name="batchNo" type="xs:int" />
          <xs:element name="batchSize" type="xs:int" />
          <xs:element minOccurs="0" name="orderBy" type="xs:string" />
          <xs:element name="queryCount" type="xs:boolean" />
          <xs:element minOccurs="0" name="queryId" type="xs:string" />
          <xs:element minOccurs="0" name="valueOption" type="tns:valueOption" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="queryTasksResponse">
        <xs:sequence>
          <xs:element minOccurs="0" name="QueryResult" type="tns:queryResult" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="queryResult">
        <xs:complexContent mixed="false">
          <xs:extension base="tns:lbeResult">
            <xs:sequence>
              <xs:element name="count" type="xs:int" />
              <xs:element name="hasMore" type="xs:boolean" />
              <xs:element minOccurs="0" name="metaData" type="tns:lbMetaData" />
              <xs:element minOccurs="0" name="queryId" type="xs:string" />
              <xs:element minOccurs="0" maxOccurs="unbounded" name="records" nillable="true" type="tns:lbRecord" />
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
      <xs:complexType name="lbMetaData">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="unbounded" name="colInfo" nillable="true" type="tns:colInfo" />
          <xs:element name="columnCount" type="xs:int" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="colInfo">
        <xs:sequence>
          <xs:element minOccurs="0" name="label" type="xs:string" />
          <xs:element name="length" type="xs:int" />
          <xs:element minOccurs="0" name="name" type="xs:string" />
          <xs:element name="scale" type="xs:int" />
          <xs:element name="type" type="xs:int" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="lbRecord">
        <xs:sequence>
          <xs:element name="size" type="xs:int" />
          <xs:element minOccurs="0" maxOccurs="unbounded" name="values" nillable="true" type="xs:anyType" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="queryWorkflowDescribe">
        <xs:sequence>
          <xs:element minOccurs="0" name="sessionId" type="xs:string" />
          <xs:element minOccurs="0" name="uid" type="xs:string" />
          <xs:element name="startupOnly" type="xs:boolean" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="queryWorkflowDescribeResponse">
        <xs:sequence>
          <xs:element minOccurs="0" name="UserInfo" type="tns:workflowDescribeResponse" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="workflowDescribeResponse">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="unbounded" name="workflowDescribes" nillable="true" type="tns:workflowDescribe" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="workflowDescribe">
        <xs:sequence>
          <xs:element name="attribute" type="xs:int" />
          <xs:element minOccurs="0" name="category" type="xs:string" />
          <xs:element minOccurs="0" name="describe" type="xs:string" />
          <xs:element minOccurs="0" name="name" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="getWorkOwner">
        <xs:sequence>
          <xs:element minOccurs="0" name="sessionId" type="xs:string" />
          <xs:element name="instanceId" type="xs:long" />
          <xs:element name="stepId" type="xs:int" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="getWorkOwnerResponse">
        <xs:sequence>
          <xs:element minOccurs="0" name="WorkOwnerResponse" type="tns:workOwnerResponse" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="workOwnerResponse">
        <xs:complexContent mixed="false">
          <xs:extension base="tns:lbeResult">
            <xs:sequence>
              <xs:element name="approveMode" type="xs:int" />
              <xs:element minOccurs="0" maxOccurs="unbounded" name="owners" nillable="true" type="xs:string" />
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
      <xs:complexType name="doWorkActionByObject">
        <xs:sequence>
          <xs:element minOccurs="0" name="sessionId" type="xs:string" />
          <xs:element minOccurs="0" name="objectName" type="xs:string" />
          <xs:element minOccurs="0" name="id" type="xs:string" />
          <xs:element name="actionId" type="xs:int" />
          <xs:element minOccurs="0" maxOccurs="unbounded" name="params" type="tns:lbParameter" />
          <xs:element minOccurs="0" name="caller" type="xs:string" />
          <xs:element minOccurs="0" name="summary" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="lbParameter">
        <xs:sequence>
          <xs:element minOccurs="0" name="name" type="xs:string" />
          <xs:element minOccurs="0" name="value" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="doWorkActionByObjectResponse">
        <xs:sequence>
          <xs:element minOccurs="0" name="WorkActionResult" type="tns:workActionResult" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="workActionResult">
        <xs:complexContent mixed="false">
          <xs:extension base="tns:lbeResult">
            <xs:sequence>
              <xs:element name="instanceId" type="xs:long" />
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
      <xs:complexType name="getUserInfo">
        <xs:sequence>
          <xs:element minOccurs="0" name="sessionId" type="xs:string" />
          <xs:element minOccurs="0" name="loginId" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="getUserInfoResponse">
        <xs:sequence>
          <xs:element minOccurs="0" name="UserInfo" type="tns:userInfo" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="userInfo">
        <xs:sequence>
          <xs:element name="grade" type="xs:int" />
          <xs:element name="id" type="xs:long" />
          <xs:element minOccurs="0" name="lastLogin" type="xs:string" />
          <xs:element minOccurs="0" name="loginId" type="xs:string" />
          <xs:element minOccurs="0" name="name" type="xs:string" />
          <xs:element name="orgId" type="xs:long" />
          <xs:element name="status" type="xs:int" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="create">
        <xs:sequence>
          <xs:element minOccurs="0" name="sessionId" type="xs:string" />
          <xs:element minOccurs="0" name="objectName" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="unbounded" name="params" type="tns:lbParameter" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="createResponse">
        <xs:sequence>
          <xs:element minOccurs="0" name="CreateResult" type="tns:createResult" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="createResult">
        <xs:complexContent mixed="false">
          <xs:extension base="tns:lbeResult">
            <xs:sequence>
              <xs:element minOccurs="0" name="id" type="xs:string" />
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
      <xs:complexType name="doWorkAction">
        <xs:sequence>
          <xs:element minOccurs="0" name="sessionId" type="xs:string" />
          <xs:element minOccurs="0" name="workflowName" type="xs:string" />
          <xs:element name="instanceId" type="xs:long" />
          <xs:element name="actionId" type="xs:int" />
          <xs:element minOccurs="0" maxOccurs="unbounded" name="params" type="tns:lbParameter" />
          <xs:element minOccurs="0" name="caller" type="xs:string" />
          <xs:element minOccurs="0" name="summary" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="doWorkActionResponse">
        <xs:sequence>
          <xs:element minOccurs="0" name="WorkActionResult" type="tns:workActionResult" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="delete">
        <xs:sequence>
          <xs:element minOccurs="0" name="sessionId" type="xs:string" />
          <xs:element minOccurs="0" name="objectName" type="xs:string" />
          <xs:element minOccurs="0" name="id" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="deleteResponse">
        <xs:sequence>
          <xs:element minOccurs="0" name="LBEResult" type="tns:lbeResult" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="login">
        <xs:sequence>
          <xs:element minOccurs="0" name="userid" type="xs:string" />
          <xs:element minOccurs="0" name="password" type="xs:string" />
          <xs:element minOccurs="0" name="scheme" type="xs:string" />
          <xs:element minOccurs="0" name="algorithm" type="xs:string" />
          <xs:element minOccurs="0" name="securityCode" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="loginResponse">
        <xs:sequence>
          <xs:element minOccurs="0" name="LoginResult" type="tns:loginResult" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="loginResult">
        <xs:complexContent mixed="false">
          <xs:extension base="tns:lbeResult">
            <xs:sequence>
              <xs:element minOccurs="0" name="sessionId" type="xs:string" />
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
      <xs:complexType name="validateUser">
        <xs:sequence>
          <xs:element minOccurs="0" name="sessionId" type="xs:string" />
          <xs:element minOccurs="0" name="userId" type="xs:string" />
          <xs:element minOccurs="0" name="password" type="xs:string" />
          <xs:element minOccurs="0" name="algorithm" type="xs:string" />
          <xs:element minOccurs="0" name="securityCode" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="validateUserResponse">
        <xs:sequence>
          <xs:element minOccurs="0" name="UserInfo" type="tns:queryResult" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="queryTaskListByCondition">
        <xs:sequence>
          <xs:element minOccurs="0" name="sessionId" type="xs:string" />
          <xs:element minOccurs="0" name="caller" type="xs:string" />
          <xs:element minOccurs="0" name="condition" type="tns:workCondition" />
          <xs:element minOccurs="0" name="queryOption" type="tns:queryOption" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="workCondition">
        <xs:sequence>
          <xs:element minOccurs="0" name="beginTime" type="xs:string" />
          <xs:element minOccurs="0" name="dateRange" type="xs:string" />
          <xs:element minOccurs="0" name="endTime" type="xs:string" />
          <xs:element name="incEntrust" type="xs:boolean" />
          <xs:element name="status" type="xs:int" />
          <xs:element minOccurs="0" name="subject" type="xs:string" />
          <xs:element minOccurs="0" name="type" type="xs:string" />
          <xs:element minOccurs="0" name="workName" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="queryTaskListByConditionResponse">
        <xs:sequence>
          <xs:element minOccurs="0" name="QueryResult" type="tns:queryResult" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="query">
        <xs:sequence>
          <xs:element minOccurs="0" name="sessionId" type="xs:string" />
          <xs:element minOccurs="0" name="objectName" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="unbounded" name="params" type="tns:lbParameter" />
          <xs:element minOccurs="0" name="condition" type="xs:string" />
          <xs:element minOccurs="0" name="queryOption" type="tns:queryOption" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="queryResponse">
        <xs:sequence>
          <xs:element minOccurs="0" name="QueryResult" type="tns:queryResult" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="update">
        <xs:sequence>
          <xs:element minOccurs="0" name="sessionId" type="xs:string" />
          <xs:element minOccurs="0" name="objectName" type="xs:string" />
          <xs:element minOccurs="0" name="id" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="unbounded" name="params" type="tns:lbParameter" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="updateResponse">
        <xs:sequence>
          <xs:element minOccurs="0" name="LBEResult" type="tns:lbeResult" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="execBizProcess">
        <xs:sequence>
          <xs:element minOccurs="0" name="sessionId" type="xs:string" />
          <xs:element minOccurs="0" name="bizProcessName" type="xs:string" />
          <xs:element minOccurs="0" name="id" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="unbounded" name="params" type="tns:lbParameter" />
          <xs:element minOccurs="0" maxOccurs="unbounded" name="variables" type="tns:lbParameter" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="execBizProcessResponse">
        <xs:sequence>
          <xs:element minOccurs="0" name="BizProcessResult" type="tns:bizProcessResult" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="bizProcessResult">
        <xs:complexContent mixed="false">
          <xs:extension base="tns:lbeResult">
            <xs:sequence>
              <xs:element minOccurs="0" maxOccurs="unbounded" name="outputVariables" nillable="true" type="tns:lbParameter" />
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
      <xs:complexType name="logout">
        <xs:sequence>
          <xs:element minOccurs="0" name="sessionId" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="logoutResponse">
        <xs:sequence>
          <xs:element minOccurs="0" name="LogoutResult" type="tns:logoutResult" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="logoutResult">
        <xs:complexContent mixed="false">
          <xs:extension base="tns:lbeResult">
            <xs:sequence />
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
      <xs:simpleType name="valueOption">
        <xs:restriction base="xs:string">
          <xs:enumeration value="VALUE" />
          <xs:enumeration value="DISPLAY" />
          <xs:enumeration value="BOTH" />
        </xs:restriction>
      </xs:simpleType>
    </xs:schema>
  </wsdl:types>
  <wsdl:message name="login">
    <wsdl:part name="parameters" element="tns:login" />
  </wsdl:message>
  <wsdl:message name="queryWorkflowDescribeResponse">
    <wsdl:part name="parameters" element="tns:queryWorkflowDescribeResponse" />
  </wsdl:message>
  <wsdl:message name="createResponse">
    <wsdl:part name="parameters" element="tns:createResponse" />
  </wsdl:message>
  <wsdl:message name="delete">
    <wsdl:part name="parameters" element="tns:delete" />
  </wsdl:message>
  <wsdl:message name="logoutResponse">
    <wsdl:part name="parameters" element="tns:logoutResponse" />
  </wsdl:message>
  <wsdl:message name="execBizProcessResponse">
    <wsdl:part name="parameters" element="tns:execBizProcessResponse" />
  </wsdl:message>
  <wsdl:message name="updateResponse">
    <wsdl:part name="parameters" element="tns:updateResponse" />
  </wsdl:message>
  <wsdl:message name="queryTasksResponse">
    <wsdl:part name="parameters" element="tns:queryTasksResponse" />
  </wsdl:message>
  <wsdl:message name="doWorkActionByObject">
    <wsdl:part name="parameters" element="tns:doWorkActionByObject" />
  </wsdl:message>
  <wsdl:message name="doWorkActionByObjectResponse">
    <wsdl:part name="parameters" element="tns:doWorkActionByObjectResponse" />
  </wsdl:message>
  <wsdl:message name="update">
    <wsdl:part name="parameters" element="tns:update" />
  </wsdl:message>
  <wsdl:message name="validateUser">
    <wsdl:part name="parameters" element="tns:validateUser" />
  </wsdl:message>
  <wsdl:message name="queryTaskListByConditionResponse">
    <wsdl:part name="parameters" element="tns:queryTaskListByConditionResponse" />
  </wsdl:message>
  <wsdl:message name="query">
    <wsdl:part name="parameters" element="tns:query" />
  </wsdl:message>
  <wsdl:message name="doWorkAction">
    <wsdl:part name="parameters" element="tns:doWorkAction" />
  </wsdl:message>
  <wsdl:message name="getWorkOwnerResponse">
    <wsdl:part name="parameters" element="tns:getWorkOwnerResponse" />
  </wsdl:message>
  <wsdl:message name="queryWorkflowDescribe">
    <wsdl:part name="parameters" element="tns:queryWorkflowDescribe" />
  </wsdl:message>
  <wsdl:message name="logout">
    <wsdl:part name="parameters" element="tns:logout" />
  </wsdl:message>
  <wsdl:message name="deleteResponse">
    <wsdl:part name="parameters" element="tns:deleteResponse" />
  </wsdl:message>
  <wsdl:message name="getWorkAvailableAction">
    <wsdl:part name="parameters" element="tns:getWorkAvailableAction" />
  </wsdl:message>
  <wsdl:message name="queryTaskListByCondition">
    <wsdl:part name="parameters" element="tns:queryTaskListByCondition" />
  </wsdl:message>
  <wsdl:message name="validateUserResponse">
    <wsdl:part name="parameters" element="tns:validateUserResponse" />
  </wsdl:message>
  <wsdl:message name="queryTasks">
    <wsdl:part name="parameters" element="tns:queryTasks" />
  </wsdl:message>
  <wsdl:message name="queryResponse">
    <wsdl:part name="parameters" element="tns:queryResponse" />
  </wsdl:message>
  <wsdl:message name="getUserInfo">
    <wsdl:part name="parameters" element="tns:getUserInfo" />
  </wsdl:message>
  <wsdl:message name="doWorkActionResponse">
    <wsdl:part name="parameters" element="tns:doWorkActionResponse" />
  </wsdl:message>
  <wsdl:message name="getWorkOwner">
    <wsdl:part name="parameters" element="tns:getWorkOwner" />
  </wsdl:message>
  <wsdl:message name="create">
    <wsdl:part name="parameters" element="tns:create" />
  </wsdl:message>
  <wsdl:message name="execBizProcess">
    <wsdl:part name="parameters" element="tns:execBizProcess" />
  </wsdl:message>
  <wsdl:message name="getUserInfoResponse">
    <wsdl:part name="parameters" element="tns:getUserInfoResponse" />
  </wsdl:message>
  <wsdl:message name="getWorkAvailableActionResponse">
    <wsdl:part name="parameters" element="tns:getWorkAvailableActionResponse" />
  </wsdl:message>
  <wsdl:message name="loginResponse">
    <wsdl:part name="parameters" element="tns:loginResponse" />
  </wsdl:message>
  <wsdl:portType name="LBEBusinessService">
    <wsdl:operation name="getWorkAvailableAction">
      <wsdl:input name="getWorkAvailableAction" message="tns:getWorkAvailableAction" />
      <wsdl:output name="getWorkAvailableActionResponse" message="tns:getWorkAvailableActionResponse" />
    </wsdl:operation>
    <wsdl:operation name="queryTasks">
      <wsdl:input name="queryTasks" message="tns:queryTasks" />
      <wsdl:output name="queryTasksResponse" message="tns:queryTasksResponse" />
    </wsdl:operation>
    <wsdl:operation name="queryWorkflowDescribe">
      <wsdl:input name="queryWorkflowDescribe" message="tns:queryWorkflowDescribe" />
      <wsdl:output name="queryWorkflowDescribeResponse" message="tns:queryWorkflowDescribeResponse" />
    </wsdl:operation>
    <wsdl:operation name="getWorkOwner">
      <wsdl:input name="getWorkOwner" message="tns:getWorkOwner" />
      <wsdl:output name="getWorkOwnerResponse" message="tns:getWorkOwnerResponse" />
    </wsdl:operation>
    <wsdl:operation name="doWorkActionByObject">
      <wsdl:input name="doWorkActionByObject" message="tns:doWorkActionByObject" />
      <wsdl:output name="doWorkActionByObjectResponse" message="tns:doWorkActionByObjectResponse" />
    </wsdl:operation>
    <wsdl:operation name="getUserInfo">
      <wsdl:input name="getUserInfo" message="tns:getUserInfo" />
      <wsdl:output name="getUserInfoResponse" message="tns:getUserInfoResponse" />
    </wsdl:operation>
    <wsdl:operation name="create">
      <wsdl:input name="create" message="tns:create" />
      <wsdl:output name="createResponse" message="tns:createResponse" />
    </wsdl:operation>
    <wsdl:operation name="doWorkAction">
      <wsdl:input name="doWorkAction" message="tns:doWorkAction" />
      <wsdl:output name="doWorkActionResponse" message="tns:doWorkActionResponse" />
    </wsdl:operation>
    <wsdl:operation name="delete">
      <wsdl:input name="delete" message="tns:delete" />
      <wsdl:output name="deleteResponse" message="tns:deleteResponse" />
    </wsdl:operation>
    <wsdl:operation name="login">
      <wsdl:input name="login" message="tns:login" />
      <wsdl:output name="loginResponse" message="tns:loginResponse" />
    </wsdl:operation>
    <wsdl:operation name="validateUser">
      <wsdl:input name="validateUser" message="tns:validateUser" />
      <wsdl:output name="validateUserResponse" message="tns:validateUserResponse" />
    </wsdl:operation>
    <wsdl:operation name="queryTaskListByCondition">
      <wsdl:input name="queryTaskListByCondition" message="tns:queryTaskListByCondition" />
      <wsdl:output name="queryTaskListByConditionResponse" message="tns:queryTaskListByConditionResponse" />
    </wsdl:operation>
    <wsdl:operation name="query">
      <wsdl:input name="query" message="tns:query" />
      <wsdl:output name="queryResponse" message="tns:queryResponse" />
    </wsdl:operation>
    <wsdl:operation name="update">
      <wsdl:input name="update" message="tns:update" />
      <wsdl:output name="updateResponse" message="tns:updateResponse" />
    </wsdl:operation>
    <wsdl:operation name="execBizProcess">
      <wsdl:input name="execBizProcess" message="tns:execBizProcess" />
      <wsdl:output name="execBizProcessResponse" message="tns:execBizProcessResponse" />
    </wsdl:operation>
    <wsdl:operation name="logout">
      <wsdl:input name="logout" message="tns:logout" />
      <wsdl:output name="logoutResponse" message="tns:logoutResponse" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="LBEBusinessWebServiceSoapBinding" type="tns:LBEBusinessService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="getWorkAvailableAction">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="getWorkAvailableAction">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="getWorkAvailableActionResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="queryTasks">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="queryTasks">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="queryTasksResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="queryWorkflowDescribe">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="queryWorkflowDescribe">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="queryWorkflowDescribeResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getWorkOwner">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="getWorkOwner">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="getWorkOwnerResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="doWorkActionByObject">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="doWorkActionByObject">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="doWorkActionByObjectResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getUserInfo">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="getUserInfo">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="getUserInfoResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="create">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="create">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="createResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="delete">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="delete">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="deleteResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="doWorkAction">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="doWorkAction">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="doWorkActionResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="login">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="login">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="loginResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="validateUser">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="validateUser">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="validateUserResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="queryTaskListByCondition">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="queryTaskListByCondition">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="queryTaskListByConditionResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="query">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="query">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="queryResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="update">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="update">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="updateResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="execBizProcess">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="execBizProcess">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="execBizProcessResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="logout">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="logout">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="logoutResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="LBEBusinessWebService">
    <wsdl:port name="LBEBusinessServiceImplPort" binding="tns:LBEBusinessWebServiceSoapBinding">
      <soap:address location="http://hi-ray.vicp.cc:8099/service/LBEBusiness" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>